.place__title {
    font-family: 'Inter';
    color: white;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    max-width: 460px;
    margin: 0;
    grid-area: title;
}

@media screen and (max-width: 320px) {
    .place__title {
        font-family: 'Inter';
        padding: 0 16px 0 16px;
        width: 288px;
        color: white;
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;
        max-width: 460px;
        margin: 0;
        grid-area: title;
    }
}