.place {

    display: grid;
    gap: 48px;
    list-style-type: none;
    padding: 0;
    grid-template-areas:
        "title website"
        "image paragraph";
        grid-auto-flow: column;

}

@media screen and (max-width: 320px) {
    .place {

        display: grid;
        gap: 32px;
        list-style-type: none;
        padding: 0;
        grid-template-areas:
            "title"
            "website"
            "image"
            "paragraph";
            grid-auto-flow: column;
    
    }
    
}