.place__website {
    max-height: 100%;
    align-self: end;
    list-style-type: none;
    padding: 0;
    color: #AAAAAA;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    grid-area: website;
}

@media screen and (max-width:320px) {
    .place__website {
        padding: 0 16px 0 16px;
    }
}